<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rasai.driverBooking">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- when application is ready to be release
    1. set allowBackup="true"
    2. remove fullBackupContent-->
    <application
        android:allowBackup="false"
        android:screenOrientation="portrait"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_rasai_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TripTabsActivity.AssignedTrips.ViewAssignedTrips"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TripTabsActivity.TripTabsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TripTabsActivity.TripOffers.MakeOffer"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".DriverHome"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Registration.SecurityDepositUpload"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Registration.driverRegistration2"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Registration.vehicleRegistration"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Registration.DriverRegistration"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".MessageActivity.MainChat"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MessageActivity.MessageListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ProfileDisplay"
            android:screenOrientation="portrait"><intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>